<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/GTsupport1/IdeaProjects/BookStoreAutomation">
        <classes>
            <class name="api.test.UserTests"></class>
            <class name="api.test.BookTests"></class>
        </classes>
    </test>
</suite>